*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    }

    /* Layout desenvolvido para desktop/notebook. */
    body  { background-color: white; }
    @media (min-width: 1200px) and (max-width: 1919px) {
        body { background-color: lightgrey;}
    }
    @media (min-width: 992px) and (max-width: 1119px) {
        body { background-color:lightblue; }
    }

    /* MENU NAVEGAÇÃO */

    nav {
        background-color: #2d25c4;
        padding: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        
    }

    /* SEÇÃO 4 - AGENDAMENTO */
    #secao4 {
        text-align: center;
        padding: 20px;
        
    }
    .form-agendamento {
        max-width: 500px;
        margin: 0 auto;
        
    }

    #titulo-agendamento {
        text-align: center;
        color: black;
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
    }

    .form-agendamento label {
        display: block;
        margin-bottom: 8px;
        color: black;
    }

    .form-agendamento input, .form-agendamento textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 1px;
        box-sizing: border-box;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 4px;
    }

    #botao-agendamento {
        background-color: #4fb852;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    
    /* SEÇÃO 5 - EDUCAÇÃO LÚDICA  */
    #secao5 {
        padding: 20px;
        text-align: center;
    }

    .videos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    

    /* SEÇÃO 6 - PERFIL PERSONALIZADO  */
    #secao6 {
        max-width: 600px;
        margin: 20px auto;
        padding: 25px;
        background-color: white;
        border-radius: 8px;
    }
    
    #secao6 h1 {
        color: black;
    }

    .foto-perfil #upload-foto {
        display: none;
    }
    
    .foto-perfil {
        position: relative;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid black;
    }
    
    #preview-foto {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    .foto-perfil:hover #upload-foto {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    
    .informacao-pessoal, .historico-tratamento, .alterar-tema {
        margin-top: 25px;
    }
    
    .informação-pessoal label {
        display: block;
        margin-bottom: 5px;
    }
    
    .informação-pessoal input, .historico-tratamento textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid lightgray;
        border-radius: 4px;
    }
    
    .informação-pessoal button {
        padding: 10px 20px;
        background-color: #1e1b54;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #cor-tema {
        position: relative;
        left: 5px;
        top: 5px;
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        border-radius: 0;
    }
    