* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

/* Layout desenvolvido para desktop/notebook. */
body {
  background-color: white;
  font-size: 1.6rem;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* MENU NAVEGAÇÃO */

#header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  padding: 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 1.9rem;
}

ul li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: cadetblue;
  padding: 10px;
}

.menu li a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Banner */
img {
  object-fit: cover;
}

/* Seção 1 - Sobre o Hospital */

.hospital-container {
  display: flex;
  justify-content: center;
}

.hospital-conteudo {
  width: 1400px;
}

.hospital-titulo {
  margin: 30px;
  text-align: center;
}

.hospital-titulo h1 {
  color: #428a91;
  font-size: 3rem;
  position: relative;
}

.hospital-discricao {
  margin-top: 30px;
  display: flex;
  justify-content: start;
  gap: 30px;
  line-height: 2rem;
  font-size: 1.7rem;
}

.hospital-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leia-mais {
  width: 100px;
  margin: 0 auto;
  border: none;
  background-color: #428a91;
  border-radius: 5px;
  padding: 5px;
}

#mais {
  display: none;
}

/* SEÇÃO 4 - AGENDAMENTO */
#secao4 {
  text-align: center;
  padding: 20px;
}
.form-agendamento {
  max-width: 500px;
  margin: 0 auto;
}

#titulo-agendamento {
  text-align: center;
  color: black;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}

.form-agendamento label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

.form-agendamento input,
.form-agendamento textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 1px;
  box-sizing: border-box;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
}

#botao-agendamento {
  background-color: #4fb852;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* SEÇÃO 5 - EDUCAÇÃO LÚDICA  */
#secao5 {
  padding: 20px;
  text-align: center;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* SEÇÃO 6 - PERFIL PERSONALIZADO  */
#secao6 {
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
}

#secao6 h1 {
  color: black;
}

.foto-perfil #upload-foto {
  display: none;
}

.foto-perfil {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid black;
}

#preview-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto-perfil:hover #upload-foto {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.informacao-pessoal,
.historico-tratamento,
.alterar-tema {
  margin-top: 25px;
}

.informação-pessoal label {
  display: block;
  margin-bottom: 5px;
}

.informação-pessoal input,
.historico-tratamento textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.informação-pessoal button {
  padding: 10px 20px;
  background-color: #1e1b54;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#cor-tema {
  position: relative;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  border-radius: 0;
}
