$background-pagina: #c2edf9;
$title-color: #2c8d96;
$subtitle-color: #2d2d2d;
$background-form: #f4f4f4;
$cor-botao: #2e93ff;
$cor-botao-hover: #0056b3;

$fonte-principal: 'Comic Sans MS', cursive;
$largura-form: 500px;