#secao5 {
    padding: 20px;
    display: grid;
    justify-content: center;
    background-color: #c2edf9;
  }

  .titulo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2edf9;
    height: 80px;
  }
  .titulo-container h1 {
    text-align: center;
    color:#2c8d96;
  }
  
  .secao5-container {
    max-width: 1400px;
    text-align: center;
  }
  
  .secao5-container h1 {
    font-size: 3rem;
    color: #428a91;
    margin-bottom: 20px;
  }

  .secao5-container h2 {
    font-size: 3rem;
    color: #428a91;
    margin-bottom: 20px;
  }
  
  .secao5-container h3 {
    color: #838383;
    margin-bottom: 20px;
  }

  .secao5-container p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
  }
  
  .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
  }
  
  @media (max-width: 1160px) {
    .videos-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 570px) {
    iframe {
      width: 400px;
      height: 225px;
    }
  }
  
  @media (max-width: 415px) {
    iframe {
      width: 320px;
      height: 180px;
    }
  }
  
  @media (max-width: 330px) {
    iframe {
      width: 250px;
      height: 130px;
    }
  }
  
  @media (max-width: 312px) {
    iframe {
      width: 200px;
      height: 120px;
    }
  }

  /* -------- SEÇÃO KAHOOT ---------- */

#kahoot-section {
    width: 100%;
    margin: 0 auto;
    padding: 120px 0;
    background-image: url(/src/assets/kahoot-fundotela.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.kahoot-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.kahoot-container h2 {
    font-size: 32px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.kahoot-container p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.botao-jogar {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
}

.botao-jogar:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
  #kahoot-section {
      padding: 60px 0;
  }
  .kahoot-container {
      max-width: 90%;
      padding: 15px;
  }
  .kahoot-container h2 {
      font-size: 28px;
  }
  .kahoot-container p {
      font-size: 16px;
  }
  .botao-jogar {
      padding: 12px 24px;
      font-size: 18px;
  }
}

@media (max-width: 480px) {
  #kahoot-section {
      padding: 40px 0;
  }
  .kahoot-container {
      max-width: 95%;
      padding: 10px;
  }
  .kahoot-container h2 {
      font-size: 24px;
  }
  .kahoot-container p {
      font-size: 14px;
  }
  .botao-jogar {
      padding: 10px 20px;
      font-size: 16px;
  }
}