#body-agendamento {
  font-family: Arial, sans-serif;
  background-color: #c2edf9;
  padding: 20px;
  min-height: 100vh;
}

.container-agendamento {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-agendamento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2edf9;
  height: 80px;
}
.titulo-agendamento h1 {
  text-align: center;
  color:#2c8d96;
  margin-top: -25px;
}

.cadastro {
  text-align: center;
}

.logo-agendamento img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.cadastro-int {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-int label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.cadastro-int input[type=text], 
.cadastro-int input[type=number],
.cadastro-int input[type=date],
.cadastro-int input[type=email] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.cadastro-int input[type=submit], 
.cadastro-int input[type=reset] {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #2e93ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cadastro-int input[type=submit]:hover, 
.cadastro-int input[type=reset]:hover {
  background-color: #0056b3;
}

.botoes-agendamento {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.botoes-agendamento input[type=submit] {
  margin-right: 30px;
}

