#secao3 {
  padding: 20px;
  text-align: center;
  background-color: #c2edf9;
}

#secao3 h1 {
  text-align: center;
  color:#2c8d96;
  font-size: 30px;
}

.container-informacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    margin: auto;
    padding: 30px 50px 60px;;
    gap: 40px;
  }

.container_1 {
  padding: 30px;
  border: 2px solid #ccc;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: start;
}


.container_2{  
  border-radius: 5px;
  margin-top: 10px;
  background-color: gray;
  padding: 10px;
   margin-left: 10px;
  margin-right: 10px;
  height: 90%;
  
}
.container_3{
  border-radius: 5px;
  background-color: transparent;
  margin-top: 10px;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}
.container_4 {
  border-radius: 5px;
  margin-top: 10px;
  background-color: gray;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;

}  

.container-informacoes h1 {
  color: #428a91;
  font-size: 3rem;
}

atende-mais h2 {
  text-align: left;
  margin-top: 20px;
  color: #428a91;
  font-size: 2.3rem;
}
.atende-mais p {
  text-align: justify;
  line-height: 1.6em;
}

.atende-mais a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #605bc1;
}

.como-chegar {
  margin-top: 20px;
  text-align: left;
}

.como-chegar h2 {
  color: #428a91;
  font-size: 2.3rem;
}

.como-chegar span {
  color: black;
  font-size: 1.5rem;
  display: block;
  margin-top: 15px;
}

.local-maps {
  margin-top: 20px;
  text-align: left;
}

.local-maps iframe {
  border: 1px solid black;
  border-radius: 8px;
}
@media (max-width: 850px) {
  .container-informacoes {
    display: grid;
    grid-template-columns: 1fr;

  }
}